<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Mathjax  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js" async></script>

<!-- Styling  -->
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="stylesheet" href="/css/syntax.css">

<!-- FontAwesome  -->
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" 
      rel="stylesheet">

<!-- Fonts  -->
<link rel="preconnect" 
      href="https://fonts.googleapis.com">
<link rel="preconnect" 
      href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap">
